<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p class="right">
        <a href="/" class="linkVolver">Volver</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="itemBuy">
        <div ng-if="alertError">
          <p class="bg-warning errorMsg">{{alertError}}</p>
        </div>
        <div ng-if="!alertError">
          <h4 class="title">{{::evento.event.title}}</h4>
          <h6>{{::evento.event.subtitle}}</h6>
          <ul class="listDisp">
            <li ng-repeat="sessions in evento.sessions | orderBy:'date':true">
              <span class="left" ng-init="cart[evento.event.id]['sessions'][sessions.date] = cart[evento.event.id]['sessions'][sessions.date] == null ? 0 : cart[evento.event.id]['sessions'][sessions.date]">
                Fecha: {{sessions.date | date:'dd/MM/yyyy'}}, Disponibilidad: {{sessions.availability - cart[evento.event.id]['sessions'][sessions.date]}}
              </span>
              <span class="right">
                <span class="buttons" ng-class="{neg:cart[evento.event.id]['sessions'][sessions.date]==0}" ng-click="removeSession(sessions)">-</span> 
                {{cart[evento.event.id]['sessions'][sessions.date]}}
                <span class="buttons" ng-class="{neg:0==sessions.availability - cart[evento.event.id]['sessions'][sessions.date]}" ng-click="addSession(sessions)">+</span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div shopping-cart title="{{evento.event.title}}"></div>
    </div>
  </div>
</div>
